body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 40px;
  color: white;
}

p {
  color: white;
}

small {
  font-size: 80%;
  font-weight: 400;
}

.header-mine {
  background-color: #08b4cc;
  height: 80px;
}

.logo {
  margin-left: 15px;
  height: 80px;
  width: 80px;
}

.footer-mine {
  min-height: 100px;
  width: 100%;
  background-color: #253443;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer-container {
  margin-left: 2rem;
  margin-right: 2rem;
  
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  margin-right: -15px;
  margin-left: -15px;
}

.first {
  flex: 0 0 22%;
  max-width: 22%;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-logo {
  width: 50px;
  height: 50px;
}

.fa {
  font-size: 25px
}

.logo-size {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.9rem;
}

.second {
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 50%;
  max-width: 50%;

  text-align: center!important;
}

.text-white {
  text-align: center!important;
  color: #fff!important
}

.third {
  flex: 0 0 22%;
  max-width: 22%;
  margin-left: auto; 
  margin-right: 0;
}

.sysdig-logo {
  padding: 1rem;
  float: right;
  margin-left: auto; 
  margin-right: 0;
}