.cm-editor { 
    height: 300px; 
    border: 1px solid #ddd;
    background-image: url('../images/Falco.png');
    background-repeat: no-repeat;
    /* background-color: #FFFFF3; */
    background-position: right;
}
.cm-scroller { 
    overflow: auto; 
}

.playground-outputContainter {
    height: 300px; 
    border-bottom-right-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border-top: none !important;
    padding: 0.625rem;
    overflow: auto;
    background-color: #EFEEEE;
  }
  