.cm-editor { 
    height: 300px; 
    
    border: 1px solid rgb(71, 69, 69);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    background-color: #253443;
    background-image: url('../images/Falco-opacity-25.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
}
.cm-scroller { 
    overflow: auto; 
}

.playground-outputContainter {
    height: 300px; 
    padding: 0.625rem;
    overflow: auto;
   
    border: 1px solid rgb(71, 69, 69);
    border-top: none !important;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
   
    background-color: #2b2d2f;
}

  